.expertise {
  min-height: 320px;
  padding: 64px 16px;
  background-color: #d4eaf750;

  &__title {
    font-size: 16px;
    color: #1d1c1c;
    font-weight: bold;
  }

  &__description {
    font-size: 14px;
    color: #313d44;
    margin-top: 16px;
  }
}
