.mentor {
  display: flex;
  padding: 6vw 4vw;
  align-items: center;
  flex-direction: column;
}

.mentor__image-box {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 60px;
}

.mentor__image {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mentor__name {
  font-size: 20px;
  margin-top: 24px;
  font-weight: bold;
}

.mentor__expertise {
  width: 100%;
  margin-top: 32px;
}


.expertise__box {
  padding: 64px 16px;
  background-color: #d4eaf750;
}

.expertise__title {
  font-size: 16px;
  color: #1d1c1c;
  font-weight: bold;
}

.expertise__description {
  font-size: 14px;
  color: #313d44;
  margin-top: 16px;
}

.actions {
  width: 100%;
  margin-top: 32px;
}

.actions__action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__action:not(:first-child) {
  margin-top: 8px;
}

.actions__action--primary {
  padding: 16px 0;
  color: #ffffff;
  font-weight: bold;
  background-color: #25b1bf;
}

.actions__action--secondary {
  padding: 16px 0;
  color: #25b1bf;
  font-weight: bold;
  border: 1px solid #25b1bf;
}